:root {
    /* Color */
    --black: #181818;
    /* title */
    --grey: #858585;

    /* text */
    --grey-darkest: #909090;
    --grey-dark: #c8c8c8;
    --grey-normal: #e4e4e4;
    --grey-light: #efefef;
    --grey-lightest: #f8f8f8;

    --border-radius: 0.5em;
    font-family: 'Lato', sans-serif;

}

ul {
    list-style-type: circle;
    font-family: inherit;
    font-weight: 300;
    color: var(--grey);
    list-style-position: outside;
    margin-left: 0;
    padding-left: 20px;
}

/* .colorGreyBorder {
    border: 5px solid #F5F5F5;

}

.colorAP {
    color: #5384ED;
}
.colorGH {
    color: #4C665B;
}

.colorGHBg {
    background-color: #EAF0EE;
}
*/


/* color and shadow*/
.lineHorizThick {
    display: block;
    height: 4px;
    width: 20px;
    background-color: var(--green);
    border-radius: 20px;
    border: none;
}

.colorGreen {
    color: var(--green);
}

.cardBorder {
    border: 4px solid var(--grey-lightest);
    border-radius: var(--border-radius);


}

.shadowBox {
    box-shadow: rgba(109, 109, 109, 0.45) 0px 25px 20px -20px;
    border-radius: var(--border-radius);
}

.shadowBox:hover {
    box-shadow: 0 29px 38px 0 rgba(0, 0, 0, 0.096), 0 36px 68px 0 rgba(0, 0, 0, 0.075);
}

.shadowFilter {
    filter: drop-shadow(15px 10px 15px rgba(143, 143, 143, 0.404));
}

.clip-shape-shadow {
    filter: drop-shadow(20px 40px 25px rgba(124, 84, 10, 0.404));
}

.clip-shape-shadowBW {
    filter: drop-shadow(20px 40px 25px rgba(143, 143, 143, 0.404));
}

.clip-shape {
    clip-path: inset(0px round 15px);
    width: 800px;
    height: 1200px;
}

/* color and shadow*/

.float {
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateZ(0);
}

.float:hover {
    transform: translateY(-15px);
    /*     filter: drop-shadow(15px 10px 15px rgba(143, 143, 143, 0.404));
 */
}

@keyframes hover-float {
    50% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(-19px);
    }
}



.wrapper {
    max-width: 1200px;
    margin: auto;
}

h1, h2 {
    font-family: inherit;
    font-weight: 500;
    margin: 1em 0;


}

.noMargin {
    margin: 0;
}

h3, h4 {
    font-family: inherit;
    font-weight: 300;
    color: var(--black);
    margin: 0.5em 0;
}

h5, h6 {
    font-family: inherit;
    font-weight: 300;
    color: var(--grey);
    margin: 0;
}

h1 {
    font-weight: 500;

    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.8em;
}

strong {
    font-weight: 600;
}

hr {
    border: none;
    height: 1px;
    border-bottom: 1px solid var(--grey-lightest);

}

.lineVer {
    border-left: 1px solid gray;
    height: 4em;
    margin: 0;
}

.img-placeholder {
    background-image: url("http://placehold.it/200x100/CC99CC/ffffff&text=Feature");
    background-size: cover;
    min-height: 100px;
    min-width: 100px;
}

/*Basic Grid Styles*/
.Grid {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.u-textCenter {
    text-align: center;
}

.Grid-cell {
    flex: 1;
}

/* element = demo */

.elementCard {
    padding: 0.8em 1em 0;
    margin-bottom: 1em;
    background: var(--grey-lightest);
    transition: background-color 0.3s ease;
    border: 1px solid var(--grey-light);
    border-radius: 3px;
}


.elementCard:hover {
    background: var(--grey-light);
}


.element {
    padding: 0.8em 1em 0;
    margin-bottom: 1em;
    transition: background-color 0.3s ease;
}

/* ---- must always have for responsive*/




.element:after {
    content: "";
    display: block;
    margin-top: 0.8em;
    height: 1px;
}

.element:hover {
    background: var();
}

.element.Holly {
    background: rgba(102, 51, 255, 0.1);
}

.element.Holly:hover {
    background: rgba(102, 51, 255, 0.25);
}

.Grid--gutters .Grid--nested .Grid-cell:first-of-type .element {
    margin-right: 1em;
}



/* element = demo */





.Demo {
    padding: 0.8em 1em 0;
    margin-bottom: 1em;
    background: rgba(51, 153, 204, .2);
    transition: background-color 0.3s ease;
    border: 1px solid #3cc;
    border-radius: 3px;
}

.Demo:after {
    content: "";
    display: block;
    margin-top: 0.8em;
    height: 1px;
}

.Demo:hover {
    background: rgba(51, 153, 204, .6);
}

.Demo.Holly {
    background: rgba(102, 51, 255, 0.1);
}

.Demo.Holly:hover {
    background: rgba(102, 51, 255, 0.25);
}

.Grid--gutters {
    margin-left: -1em;
}

.Grid--gutters .Grid-cell {
    padding-left: 1em;
}

.Grid--gutters .Grid--nested .Grid-cell:first-of-type .Demo {
    margin-right: 1em;
}

/* Justify per row*/
.Grid--right {
    justify-content: flex-end;
}

.Grid--center {
    justify-content: center;
}

/* Alignment per row */
.Grid--top {
    align-items: flex-start;
}

.Grid--bottom {
    align-items: flex-end;
}

.Grid--center {
    align-items: center;
}

/* Alignment per cell */
.Grid-cell--top {
    align-self: flex-start;
}

.Grid-cell--bottom {
    align-self: flex-end;
}

.Grid-cell--center {
    align-self: center;
}



@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }

    .navigation a {
        text-align: center;
        padding: 10px;

    }

    .navigation li:last-of-type a {
        border-bottom: none;
    }
}

/*===========================================*/
/* Base classes for all media - Mobile first */
.Grid--cols-2>.Grid-cell {
    flex: 0 0 96%;
}

.Grid--cols-3>.Grid-cell {
    flex: 0 0 96%;
}

.Grid--cols-4>.Grid-cell {
    flex: 0 0 96%;
}

.Grid--cols-6>.Grid-cell {
    flex: 0 0 calc(50% - 1em);
}

.Grid--cols-12>.Grid-cell {
    flex: 0 0 calc(33.3333% - 1em);
}

.Grid--holly-grail .aside, .Grid--holly-grail .main {
    flex: 1 100%;
}

/* One of -- columns*/
.Grid--1of2>.Grid-cell, .Grid--1of4>.Grid-cell:first-of-type, .Grid--1of3>.Grid-cell:first-of-type {
    flex: 0 0 96%;
}

.Grid--1of6>.Grid-cell:first-of-type {
    flex: 0 0 50%;
}

.Grid--fit>.Grid-cell {
    flex: 1;
}

.Grid--full>.Grid-cell {
    flex: 0 0 100%;
}

/* Tablet (medium) screens */
@media (min-width: 30em) {
    .Grid--cols-4>.Grid-cell {
        flex: 0 0 calc(50% - 1em);
    }

    .Grid--cols-6>.Grid-cell {
        flex: 0 0 calc(33.3333% - 1em);
    }

    .Grid--cols-12>.Grid-cell {
        flex: 0 0 calc(16.6666% - 1em);
    }

    .Grid--holly-grail .aside {
        flex: 1 calc(25% - 1em);
    }

    .Grid--1of2>.Grid-cell {
        flex: 0 0 50%;
    }

    .Grid--1of6>.Grid-cell:first-of-type {
        flex: 0 0 30%;
    }

    .Grid--1of4>.Grid-cell:first-of-type {
        flex: 0 0 50%;
    }

    .Grid--1of3>.Grid-cell:first-of-type {
        flex: 0 0 96%;
    }
}

/* Large screens */
@media (min-width: 48em) {
    .Grid--cols-2>.Grid-cell, .Grid--cols-3>.Grid-cell, .Grid--cols-4>.Grid-cell, .Grid--cols-6>.Grid-cell, .Grid--cols-12>.Grid-cell {
        flex: 1;
    }

    .Grid--holly-grail .main {
        flex: 2;
    }

    .Grid--holly-grail .aside {
        flex: 1;
    }

    .Grid--holly-grail .aside-1 {
        order: 1;
    }

    .Grid--holly-grail .main {
        order: 2;
    }

    .Grid--holly-grail .aside-2 {
        order: 3;
    }

    .Grid--1of2>.Grid-cell {
        flex: 0 0 50%;
    }

    .Grid--1of6>.Grid-cell:first-of-type {
        flex: 0 0 16.6666%;
    }

    .Grid--1of4>.Grid-cell:first-of-type {
        flex: 0 0 25%;
    }

    .Grid--1of3>.Grid-cell:first-of-type {
        flex: 0 0 30%;
    }

    .Grid--gutters.Grid--nested .Grid-cell:first-of-type .Demo {
        margin-right: 0;
    }
}

.content-1of1::before {
    content: "1";
}

.content-1of2::before {
    content: "1/2";
}

.content-1of3::before {
    content: "1/3";
}

.content-1of4::before {
    content: "1/4";
}

.content-1of6::before {
    content: "1/6";
}

.content-1of12::before {
    content: "1/12";
}


/* --------------------------------------------------- */


/* blank */

.blankProject {
    height: 150px;
}

.blankHXS {
    display: block;
    height: 2rem;
}

.blankHS {
    display: block;
    height: 6rem;
}

.blankHM {
    display: block;
    height: 12rem;
}

.blankHL {
    display: block;
    height: 20rem;
}

.blankHXL {
    display: block;
    height: 28rem;
}

.blankVer {
    border-left: 0px solid gray;
    width: 8rem;

}

/* blank */
body a {
    color: var(--black);
    cursor: pointer;

}

a:visited {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:link.textUnderline {
    text-decoration-line: underline;
    text-underline-offset: 6px;
}

a:link.textIntro {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}

a:link.textProject {
    text-decoration-line: underline;
    text-underline-offset: 4px;
}

.active {
    font-weight: 400;
}

.inactive {
    color: var(--grey);
    font-weight: 300;
}

img {
    width: 100%;
    height: auto;
}

svg {
    width: 100%;
    height: auto;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.1));
}

strong {
    font-weight: 300;
}




/*progressBarScroll*/

.progressContainer {
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
}

.progress-container {

    background-color: rgba(150, 150, 150, 0.4);
    height: 3px;
    width: 100%;
}

.progress-bar {

    background-color: #296448;
    height: 3px;
    width: 0%;
}

.content {
    padding: 2em;
}

/*progressBarScroll*/

.progressContainer {
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
}

.progress-container {
    background-color: rgba(150, 150, 150, 0.4);
    height: 3px;
    width: 100%;
}

.progress-bar {

    background-color: #296448;
    height: 3px;
    width: 0%;
}

.content {
    padding: 2em;
}

/*progressBarScroll*/

/*head tool bar scroll*/

.header {
    z-index: 2;
    border-bottom: 1px solid var(--grey-lightest);
    text-align: center;
    align-items: center;
    background-color: var(--white);
    opacity: 0.9;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    transition: ease 0.4s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header--scrolled {
    height: 40px;
}

.scrollable-area {
    height: 200vh;
    background-color: black;
}

.head-left {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.5em;
    margin-left: 8%;
}

.head-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 1.3rem;
    font-weight: 300;
    margin-right: 8%;
}

/*head tool bar scroll end*/



/*progressContainer tool bar scroll end*/


.navigation {
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
}

/* blur hover*/




.box {
    padding: 30px 20px;
    margin: 0;
    border-radius: 3px;
    transition: .2s all;
}

.navigation:hover .box {
    filter: blur(1px);
    opacity: .3;
    transform: scale(.98);
    box-shadow: none;
}

.navigation:hover .box:hover {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    box-shadow: rgba(109, 109, 109, 0.45) 0px 25px 20px -20px;
}

/* blur hover*/

#myBtn {
    display: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    z-index: 99;
    font-size: 22px;
    font-weight: 100;
    font-family: inherit;
    border: none;
    outline: none;
    background-color: Transparent;
    color: none;
    cursor: pointer;
    padding: 18px;
    border-radius: 50px;
    opacity: 0.9;
}

#bottom-arrow {
    height: 130px;
    margin-bottom: -40px;
}

.ArrowHover {
    display: inline-block;
    transition-duration: 0.5s;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.ArrowHover:hover {
    transform: translateY(-16px);
    animation-name: hover-float;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* back to top */

/* footer */


.footer {

    border-top: 1px solid var(--white);
    background-color: var(--grey-lightest);
    opacity: 0.9;
    height: 18em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.footer-left {
    display: flex;
    justify-content: flex-start;
    font-weight: 100;
    font-size: 1em;
    font-family: inherit;
    margin-left: 8%;

}

.footer-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 22px;
    font-weight: 300;
    margin-right: 8%;
}

.footer-logo {
    margin: 1em;
    width: 1em;
    height: auto;
    cursor: pointer;
}


/* footer */

/* footer */
@media screen and (max-width: 950px) {

    body .footer {
        height: 90px;
    }

    body .footer-left {
        font-size: 10px;
    }

    .footer-right {
        margin: 0px !;
    }

    body .footer-logo {
        margin: 4px;
        width: 12px;
    }

    #bottom-arrow {
        height: 128px;
    }
}

/* accordion */


.accordion {
    background-color: var(--grey-lightest);
    border-bottom: 1px solid var(--grey-light);

    outline: none;
    text-align: left;
    padding: 15px 20px;
    color: var(--black-darker);
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.accordion:after {
    content: "";
    background-image: url("arrow-accordion-up.svg");
    height: 36px;
    width: 36px;
    float: right;
}

.accordion.is-open:after {
    content: "";
    background-image: url("arrow-accordion-down.svg");
}

.accordion:hover,
.accordion.is-open {
    border: 1px solid var(--grey-light);

    background-color: var(--grey-light);
}

.accordion-content {
    background-color: var(--grey-lightest);
    border-left: 1px solid var(--grey-lightest);
    border-right: 1px solid var(--grey-lightest);
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}


/* accordion */